{{#> base}}
	{{#*inline "head"}}
		<title>Charlotte Thomas</title>
		<meta property="og:title" content="Webpage">
		<meta name="description" content="{{summary}}">
		<meta name="cf-2fa-verify" value="dU1eW*CH_fr+tayo42Wi"/>
	{{/inline}}
	{{#*inline "body"}}
		{{{body}}}
	{{/inline}}
{{/base}}
